.App {
  text-align: center;
}

body {
  font-family: var(--font-family);
}
.loading {
  font-size: 5em;
  margin-top: 15%;
}
.navbar > a {
  text-decoration: none;
  color: black;
  padding-right: 5px;
}
.pipeChart {
  display: flex;
  width: 50%;
}
.pi-home {
  font-size: 2em;
}
